* {
  font-family: monospace;
  color: black;
}

.etchSquare {
  display: flex;
  width: 43.75px;
  height: 43.75px;
  flex-wrap: wrap;
  background-color: white;
  border: darkblue 3px;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sketchSpace {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  width: 700px;
  height: 700px;
  border: solid;
  border-color: black;
  border-width: 3px;

}


